* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 300px;
  color: #4d4e53;
  background-color: #fffef8;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.6;
}

#navbar {
  position: fixed;
  min-width: 30px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  color: black;
  margin: 10px;
  
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

header h1 {
  font-size: 1.2em;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  text-align: justify;
}


section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

article>p {
  margin-bottom: 5px;
}

li p {
  margin: 0;
  margin-bottom: 5px;
}

.shrink p {
  margin-top: 5px;
}

.shrink li {
  list-style-type: none;
  margin-top: 10px;
}

li.square {
    list-style-type: square;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  color: #1f681f;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

code.inline {
  display: inline;
  text-align: center;
  position: static;
  line-height: 1.6;
  background-color: inherit;
  padding: 0px;
  margin: 0px;
}


a:link, a:visited {
  color: inherit;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: #fffef8;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    margin-left: 9.5px;
    width: 98%;
    max-height: 273px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

#navbar {
    background-color: #fffef8;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    margin-left: 9.5px;
    width: 95%;
    max-height: 273px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  
  code {
    margin-left: -5px;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

@media only screen and (min-width: 815px) {
  #main-doc {
    margin-right: 5px;
  }
}